#main{
    width: 1490px;
    height: 600px;
    background-color: hsla(51, 62%, 49%, 0.76);
}
#main{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: -750px;
    border-radius: 15px;
    transition: 0.3s;
    opacity: 0;
}
.main-items{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 40px;
    justify-content: center;
}
.box1{
    width: 400px;
    height: 250px;
    background-color: rgba(255, 247, 240, 0.801);
    border-radius: 20px;
    text-align: center;
}
#first1{
    padding-top: 75px;
    color: coral;
    font-size: 27px;
    display: inline-block;
    font-weight: 900;
}
.k{
    font-weight: 700;
     color: coral;
     font-size: 27px;
}
i{
    font-size: 18px;
    font-weight: 900;
     color: coral;
     font-size: 22px;
}

h1{
  color: hwb(192 16% 11% / 0.801);
  font-weight: 900;
  font-size: 35px;
  margin: 0;
}

.box2{
    width: 400px;
    height: 250px;
    background-color: rgba(255, 247, 240, 0.801);
    border-radius: 20px;
    text-align: center;
}
#first2{
    padding-top: 75px;
    color: coral;
    font-size: 27px;
    display: inline-block;
    font-weight: 900;
}
.box3{
    width: 400px;
    height: 250px;
    background-color: rgba(255, 247, 240, 0.801);
    border-radius: 20px;
    text-align: center;
}
#first3{
    padding-top: 75px;
    color: coral;
    font-size: 27px;
    display: inline-block;
    font-weight: 900;
}
.btn{
    font-style: 24px;
    font-weight: 800;
    background-color: rgba(0, 110, 255, 0.664);
    color: aliceblue;
    letter-spacing: 10px;
    padding: 10px 15px;
    margin-left: 100px;
    margin-top: 100px;
}